@layer theme, base, components, vuetify, app, utilities;

@layer app {
    :root {
        --header-height: 3.5rem;
        --header-margin: 1rem;
        --header-with-margin-height: calc(var(--header-height) + var(--header-margin));
        --nav-narrow-width: 72px;
        --nav-medium-width: 244px;
        --nav-wide-width: 335px;
        --nav-mobile-height: 50px;
        --surface-light-color: rgb(var(--v-theme-surface-light));
    }

    .border, .border-l, .border-r, .border-b, .border-t {
        border-color: rgba(var(--v-border-color), var(--v-border-opacity));
    }

    /*
     Making the background of overlays (e.g. Dialog) dark in a dark theme
     (by default in Vuetify, it is light, not dark).
    */
    .v-overlay__scrim {
        background-color: rgba(0, 0, 0, 1);
    }
}
